In [1]:
import pandas as pd

In [2]:
bigmac = pd.read_csv("data/bigmac.csv", parse_dates = ["Date"])
bigmac.head(3)

        Date    Country  Price in US Dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35

In [7]:
bigmac.set_index(keys = ["Date","Country"], inplace=True)
bigmac.head()

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39
           Australia                 3.74
           Brazil                    3.35
           Britain                   4.22
           Canada                    4.14

In [11]:
bigmac.sort_index(inplace=True)    #sorts both index  #use array of boolean to give different order to each index
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [15]:
bigmac.index

MultiIndex(levels=[[2010-01-01 00:00:00, 2010-07-01 00:00:00, 2011-07-01 00:00:00, 2012-01-01 00:00:00, 2012-07-01 00:00:00, 2013-01-01 00:00:00, 2013-07-01 00:00:00, 2014-01-01 00:00:00, 2014-07-01 00:00:00, 2015-01-01 00:00:00, 2015-07-01 00:00:00, 2016-01-01 00:00:00], [u'Argentina', u'Australia', u'Austria', u'Belgium', u'Brazil', u'Britain', u'Canada', u'Chile', u'China', u'Colombia', u'Costa Rica', u'Czech Republic', u'Denmark', u'Egypt', u'Estonia', u'Euro area', u'Finland', u'France', u'Germany', u'Greece', u'Hong Kong', u'Hungary', u'India', u'Indonesia', u'Ireland', u'Israel', u'Italy', u'Japan', u'Latvia', u'Lithuania', u'Malaysia', u'Mexico', u'Netherlands', u'New Zealand', u'Norway', u'Pakistan', u'Peru', u'Philippines', u'Poland', u'Portugal', u'Russia', u'Saudi Arabia', u'Singapore', u'South Africa', u'South Korea', u'Spain', u'Sri Lanka', u'Sweden', u'Switzerland', u'Taiwan', u'Thailand', u'Turkey', u'UAE', u'Ukraine', u'United States', u'Uruguay', u'Venezuela', u'Vietnam']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11], [0, 1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 20, 21, 23, 25, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 0, 1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 20, 21, 23, 25, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57]],
           names=[u'Date', u'Country'])

In [16]:
bigmac.index.names

FrozenList([u'Date', u'Country'])

In [14]:
bigmac.index[0]

(Timestamp('2010-01-01 00:00:00'), 'Argentina')

In [21]:
bigmac.index.get_level_values(0)
bigmac.index.get_level_values("Date")   #same as above

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01'],
              dtype='datetime64[ns]', name=u'Date', length=652, freq=None)

In [20]:
bigmac.index.get_level_values(1)
bigmac.index.get_level_values("Country")

Index([u'Argentina', u'Australia', u'Brazil', u'Britain', u'Canada', u'Chile',
       u'China', u'Colombia', u'Costa Rica', u'Czech Republic',
       ...
       u'Switzerland', u'Taiwan', u'Thailand', u'Turkey', u'UAE', u'Ukraine',
       u'United States', u'Uruguay', u'Venezuela', u'Vietnam'],
      dtype='object', name=u'Country', length=652)

In [22]:
bigmac.index.set_names(["Day", "Location"], inplace=True)
bigmac.head(3)

                      Price in US Dollars
Day        Location
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

### Extract rows from multiIndex

In [23]:
bigmac = pd.read_csv("data/bigmac.csv", parse_dates = ["Date"], index_col=["Date", "Country"])
bigmac.sort_index(inplace=True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [25]:
bigmac.loc[("2010-01-01", "Brazil")]

Price in US Dollars    4.76
Name: (2010-01-01 00:00:00, Brazil), dtype: float64

### Transpose

In [28]:
bigmac_tr = bigmac.transpose()
bigmac_tr

Date                2010-01-01                                              \
Country              Argentina Australia Brazil Britain Canada Chile China
Price in US Dollars       1.84      3.98   4.76    3.67   3.97  3.18  1.83

Date                                                     ...    2016-01-01  \
Country             Colombia Costa Rica Czech Republic   ...   Switzerland
Price in US Dollars     3.91       3.52           3.71   ...          6.44

Date                                                                    \
Country             Taiwan Thailand Turkey   UAE Ukraine United States
Price in US Dollars   2.08     3.09   3.41  3.54    1.54          4.93

Date
Country             Uruguay Venezuela Vietnam
Price in US Dollars    3.74      0.66    2.67

[1 rows x 652 columns]

In [30]:
bigmac_tr.loc["Price in US Dollars", ("2010-01-01","Brazil")]

Date        Country
2010-01-01  Brazil     4.76
Name: Price in US Dollars, dtype: float64

### Stack Method

In [2]:
world = pd.read_csv("data/worldstats.csv", index_col = ["country", "year"])
world.head(3)

                  Population           GDP
country    year
Arab World 2015  392022276.0  2.530102e+12
           2014  384222592.0  2.873600e+12
           2013  376504253.0  2.846994e+12

In [3]:
world.stack()    # will convert to a Series with 3-level index

country     year
Arab World  2015  Population    3.920223e+08
                  GDP           2.530102e+12
            2014  Population    3.842226e+08
                  GDP           2.873600e+12
            2013  Population    3.765043e+08
                  GDP           2.846994e+12
            2012  Population    3.688026e+08
                  GDP           2.773270e+12
            2011  Population    3.610318e+08
                  GDP           2.497945e+12
            2010  Population    3.531122e+08
                  GDP           2.103825e+12
            2009  Population    3.450542e+08
                  GDP           1.798878e+12
            2008  Population    3.368865e+08
                  GDP           2.081343e+12
            2007  Population    3.287666e+08
                  GDP           1.641666e+12
            2006  Population    3.209067e+08
                  GDP           1.404190e+12
            2005  Population    3.134309e+08
                  GDP           1.184735e+12
            2004  Population    3.063874e+08
                  GDP           9.639180e+11
            2003  Population    2.997320e+08
                  GDP           8.218702e+11
            2002  Population    2.934026e+08
                  GDP           7.279939e+11
            2001  Population    2.872918e+08
                  GDP           7.221506e+11
                                    ...
Zimbabwe    1974  Population    5.967861e+06
                  GDP           3.982161e+09
            1973  Population    5.768382e+06
                  GDP           3.309354e+09
            1972  Population    5.573312e+06
                  GDP           2.677729e+09
            1971  Population    5.385342e+06
                  GDP           2.178716e+09
            1970  Population    5.206311e+06
                  GDP           1.884206e+09
            1969  Population    5.036321e+06
                  GDP           1.747999e+09
            1968  Population    4.874113e+06
                  GDP           1.479600e+09
            1967  Population    4.718612e+06
                  GDP           1.397002e+09
            1966  Population    4.568320e+06
                  GDP           1.281750e+09
            1965  Population    4.422132e+06
                  GDP           1.311436e+09
            1964  Population    4.279561e+06
                  GDP           1.217138e+09
            1963  Population    4.140804e+06
                  GDP           1.159512e+09
            1962  Population    4.006262e+06
                  GDP           1.117602e+09
            1961  Population    3.876638e+06
                  GDP           1.096647e+09
            1960  Population    3.752390e+06
                  GDP           1.052990e+09
Length: 22422, dtype: float64

In [15]:
world.unstack(1)

                          Population                              \
year                            1960          1961          1962
country
Afghanistan             8.994793e+06  9.164945e+06  9.343772e+06
Albania                          NaN           NaN           NaN
Algeria                 1.112489e+07  1.140486e+07  1.169015e+07
Andorra                          NaN           NaN           NaN
Angola                           NaN           NaN           NaN
Antigua and Barbuda              NaN           NaN           NaN
Arab World                       NaN           NaN           NaN
Argentina                        NaN           NaN  2.128768e+07
Armenia                          NaN           NaN           NaN
Aruba                            NaN           NaN           NaN
Australia               1.027648e+07  1.048300e+07  1.074200e+07
Austria                 7.047539e+06  7.086299e+06  7.129864e+06
Azerbaijan                       NaN           NaN           NaN
Bahamas, The            1.095260e+05  1.151080e+05  1.210830e+05
Bahrain                          NaN           NaN           NaN
Bangladesh              4.820070e+07  4.959361e+07  5.103060e+07
Barbados                         NaN           NaN           NaN
Belarus                          NaN           NaN           NaN
Belgium                 9.153489e+06  9.183948e+06  9.220578e+06
Belize                  9.206800e+04  9.470100e+04  9.738900e+04
Benin                   2.431620e+06  2.466002e+06  2.503232e+06
Bermuda                 4.440000e+04  4.550000e+04  4.660000e+04
Bhutan                           NaN           NaN           NaN
Bolivia                 3.693451e+06  3.764815e+06  3.838096e+06
Bosnia and Herzegovina           NaN           NaN           NaN
Botswana                5.240290e+05  5.365760e+05  5.499900e+05
Brazil                  7.249358e+07  7.470689e+07  7.700755e+07
Brunei Darussalam                NaN           NaN           NaN
Bulgaria                         NaN           NaN           NaN
Burkina Faso            4.829291e+06  4.894578e+06  4.960325e+06
...                              ...           ...           ...
Switzerland             5.327827e+06  5.434294e+06  5.573815e+06
Syrian Arab Republic    4.592777e+06  4.742596e+06  4.897428e+06
Tajikistan                       NaN           NaN           NaN
Tanzania                         NaN           NaN           NaN
Thailand                2.739718e+07  2.822421e+07  2.908104e+07
Timor-Leste                      NaN           NaN           NaN
Togo                    1.580513e+06  1.597528e+06  1.612758e+06
Tonga                            NaN           NaN           NaN
Trinidad and Tobago     8.484810e+05  8.653560e+05  8.800190e+05
Tunisia                          NaN           NaN           NaN
Turkey                  2.755328e+07  2.822929e+07  2.890998e+07
Turkmenistan                     NaN           NaN           NaN
Tuvalu                           NaN           NaN           NaN
Uganda                  6.788211e+06  7.006629e+06  7.240155e+06
Ukraine                          NaN           NaN           NaN
United Arab Emirates             NaN           NaN           NaN
United Kingdom          5.240000e+07  5.280000e+07  5.325000e+07
United States           1.806710e+08  1.836910e+08  1.865380e+08
Upper middle income     1.154592e+09  1.159145e+09  1.176093e+09
Uruguay                 2.538651e+06  2.571691e+06  2.603887e+06
Uzbekistan                       NaN           NaN           NaN
Vanuatu                          NaN           NaN           NaN
Venezuela, RB           8.146845e+06  8.461684e+06  8.790590e+06
Vietnam                          NaN           NaN           NaN
Virgin Islands (U.S.)   3.200000e+04  3.410000e+04  3.630000e+04
West Bank and Gaza               NaN           NaN           NaN
World                   3.035056e+09  3.076121e+09  3.129064e+09
Yemen, Rep.                      NaN           NaN           NaN
Zambia                  3.049586e+06  3.142848e+06  3.240664e+06
Zimbabwe                3.752390e+06  3.876638e+06  4.006262e+06

                                                                  \
year                            1963          1964          1965
country
Afghanistan             9.531555e+06  9.728645e+06  9.935358e+06
Albania                          NaN           NaN           NaN
Algeria                 1.198513e+07  1.229597e+07  1.262695e+07
Andorra                          NaN           NaN           NaN
Angola                           NaN           NaN           NaN
Antigua and Barbuda              NaN           NaN           NaN
Arab World                       NaN           NaN           NaN
Argentina               2.162184e+07  2.195393e+07  2.228339e+07
Armenia                          NaN           NaN           NaN
Aruba                            NaN           NaN           NaN
Australia               1.095000e+07  1.116700e+07  1.138800e+07
Austria                 7.175811e+06  7.223801e+06  7.270889e+06
Azerbaijan                       NaN           NaN           NaN
Bahamas, The            1.273310e+05  1.336970e+05  1.400490e+05
Bahrain                          NaN           NaN           NaN
Bangladesh              5.253260e+07  5.412939e+07  5.583502e+07
Barbados                         NaN           NaN           NaN
Belarus                          NaN           NaN           NaN
Belgium                 9.289770e+06  9.378113e+06  9.463667e+06
Belize                  1.001660e+05  1.030700e+05  1.061210e+05
Benin                   2.543335e+06  2.586362e+06  2.632360e+06
Bermuda                 4.770000e+04  4.890000e+04  5.010000e+04
Bhutan                           NaN           NaN           NaN
Bolivia                 3.913397e+06  3.990855e+06  4.070590e+06
Bosnia and Herzegovina           NaN           NaN           NaN
Botswana                5.643160e+05  5.795600e+05  5.957410e+05
Brazil                  7.936845e+07  8.175180e+07  8.413006e+07
Brunei Darussalam                NaN           NaN  1.025250e+05
Bulgaria                         NaN           NaN           NaN
Burkina Faso            5.027818e+06  5.098892e+06  5.174869e+06
...                              ...           ...           ...
Switzerland             5.694247e+06  5.789228e+06  5.856472e+06
Syrian Arab Republic    5.057825e+06  5.224579e+06  5.398333e+06
Tajikistan                       NaN           NaN           NaN
Tanzania                         NaN           NaN           NaN
Thailand                2.996704e+07  3.088133e+07  3.182280e+07
Timor-Leste                      NaN           NaN           NaN
Togo                    1.631763e+06  1.662072e+06  1.708632e+06
Tonga                            NaN           NaN           NaN
Trinidad and Tobago     8.925710e+05  9.032720e+05  9.124190e+05
Tunisia                          NaN           NaN  4.630000e+06
Turkey                  2.959705e+07  3.029297e+07  3.100017e+07
Turkmenistan                     NaN           NaN           NaN
Tuvalu                           NaN           NaN           NaN
Uganda                  7.487411e+06  7.746181e+06  8.014376e+06
Ukraine                          NaN           NaN           NaN
United Arab Emirates             NaN           NaN           NaN
United Kingdom          5.365000e+07  5.400000e+07  5.434805e+07
United States           1.892420e+08  1.918890e+08  1.943030e+08
Upper middle income     1.204372e+09  1.232266e+09  1.261069e+09
Uruguay                 2.635128e+06  2.665387e+06  2.694535e+06
Uzbekistan                       NaN           NaN           NaN
Vanuatu                          NaN           NaN           NaN
Venezuela, RB           9.130346e+06  9.476255e+06  9.824694e+06
Vietnam                          NaN           NaN           NaN
Virgin Islands (U.S.)   3.870000e+04  4.130000e+04  4.400000e+04
West Bank and Gaza               NaN           NaN           NaN
World                   3.193947e+09  3.259355e+09  3.326054e+09
Yemen, Rep.                      NaN           NaN           NaN
Zambia                  3.342894e+06  3.449266e+06  3.559687e+06
Zimbabwe                4.140804e+06  4.279561e+06  4.422132e+06

                                                                  \
year                            1966          1967          1968
country
Afghanistan             1.014884e+07  1.036860e+07  1.059979e+07
Albania                          NaN           NaN           NaN
Algeria                 1.298027e+07  1.335420e+07  1.374438e+07
Andorra                          NaN           NaN           NaN
Angola                           NaN           NaN           NaN
Antigua and Barbuda              NaN           NaN           NaN
Arab World                       NaN           NaN  1.155571e+08
Argentina               2.260875e+07  2.293220e+07  2.326127e+07
Armenia                          NaN           NaN           NaN
Aruba                            NaN           NaN           NaN
Australia               1.165100e+07  1.179900e+07  1.200900e+07
Austria                 7.322066e+06  7.376998e+06  7.415403e+06
Azerbaijan                       NaN           NaN           NaN
Bahamas, The            1.463640e+05  1.526070e+05  1.586290e+05
Bahrain                          NaN           NaN           NaN
Bangladesh              5.767553e+07  5.962529e+07  6.158552e+07
Barbados                         NaN           NaN           NaN
Belarus                          NaN           NaN           NaN
Belgium                 9.527807e+06  9.580991e+06  9.618756e+06
Belize                  1.093440e+05  1.126990e+05  1.160610e+05
Benin                   2.681382e+06  2.733450e+06  2.788551e+06
Bermuda                 5.100000e+04  5.200000e+04  5.300000e+04
Bhutan                           NaN           NaN           NaN
Bolivia                 4.152665e+06  4.237126e+06  4.324066e+06
Bosnia and Herzegovina           NaN           NaN           NaN
Botswana                6.129500e+05  6.312760e+05  6.507300e+05
Brazil                  8.649499e+07  8.885368e+07  9.121301e+07
Brunei Darussalam       1.074500e+05  1.126800e+05  1.181760e+05
Bulgaria                         NaN           NaN           NaN
Burkina Faso            5.256363e+06  5.343020e+06  5.434040e+06
...                              ...           ...           ...
Switzerland             5.918002e+06  5.991785e+06  6.067714e+06
Syrian Arab Republic    5.579283e+06  5.767478e+06  5.963248e+06
Tajikistan                       NaN           NaN           NaN
Tanzania                         NaN           NaN           NaN
Thailand                3.278910e+07  3.377850e+07  3.479094e+07
Timor-Leste                      NaN           NaN           NaN
Togo                    1.774029e+06  1.855445e+06  1.945781e+06
Tonga                            NaN           NaN           NaN
Trinidad and Tobago     9.199020e+05  9.259180e+05  9.314660e+05
Tunisia                 4.731395e+06  4.832923e+06  4.933131e+06
Turkey                  3.171827e+07  3.244840e+07  3.319629e+07
Turkmenistan                     NaN           NaN           NaN
Tuvalu                           NaN           NaN           NaN
Uganda                  8.292747e+06  8.580632e+06  8.872866e+06
Ukraine                          NaN           NaN           NaN
United Arab Emirates             NaN           NaN           NaN
United Kingdom          5.464850e+07  5.494360e+07  5.521170e+07
United States           1.965600e+08  1.987120e+08  2.007060e+08
Upper middle income     1.292755e+09  1.323615e+09  1.355381e+09
Uruguay                 2.722874e+06  2.750093e+06  2.774771e+06
Uzbekistan                       NaN           NaN           NaN
Vanuatu                          NaN           NaN           NaN
Venezuela, RB           1.017514e+07  1.052805e+07  1.088200e+07
Vietnam                          NaN           NaN           NaN
Virgin Islands (U.S.)   4.730000e+04  5.080000e+04  5.460000e+04
West Bank and Gaza               NaN           NaN           NaN
World                   3.395866e+09  3.465297e+09  3.535512e+09
Yemen, Rep.                      NaN           NaN           NaN
Zambia                  3.674088e+06  3.792864e+06  3.916928e+06
Zimbabwe                4.568320e+06  4.718612e+06  4.874113e+06

                                          ...                GDP  \
year                            1969      ...               2006
country                                   ...
Afghanistan             1.084951e+07      ...       7.057598e+09
Albania                          NaN      ...       8.992642e+09
Algeria                 1.414444e+07      ...       1.170273e+11
Andorra                          NaN      ...       3.536452e+09
Angola                           NaN      ...       4.178948e+10
Antigua and Barbuda              NaN      ...       1.135144e+09
Arab World              1.188239e+08      ...       1.404190e+12
Argentina               2.360599e+07      ...       2.626665e+11
Armenia                          NaN      ...       6.384452e+09
Aruba                            NaN      ...       2.421475e+09
Australia               1.226300e+07      ...       7.468808e+11
Austria                 7.441055e+06      ...       3.343094e+11
Azerbaijan                       NaN      ...       2.098302e+10
Bahamas, The            1.642500e+05      ...       7.965588e+09
Bahrain                          NaN      ...       1.850505e+10
Bangladesh              6.342257e+07      ...       7.181908e+10
Barbados                         NaN      ...       4.303500e+09
Belarus                          NaN      ...       3.696182e+10
Belgium                 9.646032e+06      ...       4.098131e+11
Belize                  1.192600e+05      ...       1.217442e+09
Benin                   2.846652e+06      ...       5.142381e+09
Bermuda                 5.400000e+04      ...       5.414299e+09
Bhutan                           NaN      ...       8.977315e+08
Bolivia                 4.413584e+06      ...       1.145187e+10
Bosnia and Herzegovina           NaN      ...       1.286652e+10
Botswana                6.713050e+05      ...       1.012694e+10
Brazil                  9.358575e+07      ...       1.107640e+12
Brunei Darussalam       1.238750e+05      ...       1.147070e+10
Bulgaria                         NaN      ...       3.430445e+10
Burkina Faso            5.528172e+06      ...       5.844670e+09
...                              ...      ...                ...
Switzerland             6.136387e+06      ...       4.291956e+11
Syrian Arab Republic    6.166933e+06      ...       3.333284e+10
Tajikistan                       NaN      ...       2.830229e+09
Tanzania                         NaN      ...       1.861046e+10
Thailand                3.582680e+07      ...       2.217585e+11
Timor-Leste                      NaN      ...       4.630000e+08
Togo                    2.034909e+06      ...       2.202809e+09
Tonga                            NaN      ...       2.879830e+08
Trinidad and Tobago     9.378460e+05      ...       1.836907e+10
Tunisia                 5.031211e+06      ...       3.437844e+10
Turkey                  3.396920e+07      ...       5.309001e+11
Turkmenistan                     NaN      ...       1.027760e+10
Tuvalu                           NaN      ...       2.290286e+07
Uganda                  9.162773e+06      ...       9.942598e+09
Ukraine                          NaN      ...       1.077531e+11
United Arab Emirates             NaN      ...       2.221059e+11
United Kingdom          5.544175e+07      ...       2.588077e+12
United States           2.026770e+08      ...       1.385589e+13
Upper middle income     1.388827e+09      ...       8.620784e+12
Uruguay                 2.795044e+06      ...       1.957946e+10
Uzbekistan                       NaN      ...       1.703090e+10
Vanuatu                          NaN      ...       4.393768e+08
Venezuela, RB           1.123549e+07      ...       1.834775e+11
Vietnam                          NaN      ...       6.637166e+10
Virgin Islands (U.S.)   5.860000e+04      ...                NaN
West Bank and Gaza               NaN      ...       4.910100e+09
World                   3.609910e+09      ...       5.107451e+13
Yemen, Rep.                      NaN      ...       1.908173e+10
Zambia                  4.047479e+06      ...       1.275686e+10
Zimbabwe                5.036321e+06      ...       5.443896e+09

                                                                  \
year                            2007          2008          2009
country
Afghanistan             9.843842e+09  1.019053e+10  1.248694e+10
Albania                 1.070101e+10  1.288135e+10  1.204421e+10
Algeria                 1.349771e+11  1.710007e+11  1.372110e+11
Andorra                 4.010785e+09  4.001349e+09  3.649863e+09
Angola                  6.044892e+10  8.417803e+10  7.549238e+10
Antigua and Barbuda     1.289254e+09  1.347350e+09  1.206410e+09
Arab World              1.641666e+12  2.081343e+12  1.798878e+12
Argentina               3.293175e+11  4.037820e+11  3.766279e+11
Armenia                 9.206302e+09  1.166204e+10  8.647937e+09
Aruba                   2.623726e+09  2.791961e+09  2.498933e+09
Australia               8.530533e+11  1.054558e+12  9.265638e+11
Austria                 3.864590e+11  4.276115e+11  3.975943e+11
Azerbaijan              3.305034e+10  4.885248e+10  4.429149e+10
Bahamas, The            8.318996e+09  8.246650e+09  7.820420e+09
Bahrain                 2.173000e+10  2.571088e+10  2.293822e+10
Bangladesh              7.961189e+10  9.163128e+10  1.024778e+11
Barbados                4.546000e+09  4.595000e+09  4.602000e+09
Belarus                 4.527575e+10  6.075218e+10  4.920866e+10
Belgium                 4.718218e+11  5.186260e+11  4.845527e+11
Belize                  1.290543e+09  1.368625e+09  1.336957e+09
Benin                   5.969535e+09  7.132787e+09  7.097199e+09
Bermuda                 5.895048e+09  6.109928e+09  5.806378e+09
Bhutan                  1.196092e+09  1.258332e+09  1.264758e+09
Bolivia                 1.312018e+10  1.667432e+10  1.733999e+10
Bosnia and Herzegovina  1.577642e+10  1.910145e+10  1.760063e+10
Botswana                1.093905e+10  1.094507e+10  1.026713e+10
Brazil                  1.397084e+12  1.695825e+12  1.667020e+12
Brunei Darussalam       1.224769e+10  1.439310e+10  1.073237e+10
Bulgaria                4.476573e+10  5.466664e+10  5.178345e+10
Burkina Faso            6.771278e+09  8.369637e+09  8.369175e+09
...                              ...           ...           ...
Switzerland             4.774078e+11  5.515470e+11  5.395282e+11
Syrian Arab Republic    4.040501e+10           NaN           NaN
Tajikistan              3.719515e+09  5.161299e+09  4.979472e+09
Tanzania                2.150174e+10  2.736839e+10  2.857378e+10
Thailand                2.629427e+11  2.913831e+11  2.815748e+11
Timor-Leste             5.590000e+08  6.940000e+08  8.180000e+08
Togo                    2.523463e+09  3.163416e+09  3.163001e+09
Tonga                   2.996579e+08  3.400415e+08  3.213034e+08
Trinidad and Tobago     2.164230e+10  2.787026e+10  1.917520e+10
Tunisia                 3.890807e+10  4.485659e+10  4.345494e+10
Turkey                  6.471551e+11  7.303375e+11  6.145539e+11
Turkmenistan            1.266417e+10  1.927152e+10  2.021439e+10
Tuvalu                  2.703037e+07  3.029022e+07  2.710108e+07
Uganda                  1.229281e+10  1.423903e+10  1.787818e+10
Ukraine                 1.427190e+11  1.799924e+11  1.172278e+11
United Arab Emirates    2.579161e+11  3.154746e+11  2.535474e+11
United Kingdom          2.969734e+12  2.793377e+12  2.314577e+12
United States           1.447764e+13  1.471858e+13  1.441874e+13
Upper middle income     1.073130e+13  1.312644e+13  1.263584e+13
Uruguay                 2.341057e+10  3.036621e+10  3.166091e+10
Uzbekistan              2.231139e+10  2.793403e+10  3.281683e+10

### Pivot Method

In [17]:
sales = pd.read_csv("data/salesmen.csv", parse_dates = ["Date"])
sales.head(3)

        Date Salesman  Revenue
0 2016-01-01      Bob     7172
1 2016-01-02      Bob     6362
2 2016-01-03      Bob     5982

In [24]:
sales.pivot(index = "Date", columns = "Salesman", values = "Revenue").head()

Salesman     Bob  Dave   Jeb  Oscar  Ronald
Date
2016-01-01  7172  1864  4430   5250    2639
2016-01-02  6362  8278  8026   8661    4951
2016-01-03  5982  4226  5188   7075    2703
2016-01-04  7917  3868  3144   2524    4258
2016-01-05  7837  2287   938   2793    7771

### pivot_table method

In [26]:
food = pd.read_csv("data/foods.csv")
food.head()

  First Name  Gender          City Frequency       Item  Spend
0      Wanda  Female      Stamford    Weekly     Burger  15.66
1       Eric    Male      Stamford     Daily    Chalupa  10.56
2    Charles    Male      New York     Never      Sushi  42.14
3       Anna  Female  Philadelphia      Once  Ice Cream  11.01
4    Deborah  Female  Philadelphia     Daily    Chalupa  23.49

In [28]:
food.pivot_table(index="Gender", values="Spend", aggfunc="sum")

           Spend
Gender
Female  25963.33
Male    24106.04

In [29]:
food.pivot_table(index=["Gender","Item"], values="Spend", aggfunc="sum")

                    Spend
Gender Item
Female Burger     4094.30
       Burrito    4257.82
       Chalupa    4152.26
       Donut      4743.00
       Ice Cream  4032.87
       Sushi      4683.08
Male   Burger     3671.43
       Burrito    4012.62
       Chalupa    3492.26
       Donut      4015.76
       Ice Cream  4854.12
       Sushi      4059.85

In [30]:
food.pivot_table(index=["Gender","Item"], columns="City", values="Spend", aggfunc="sum")

City              New York  Philadelphia  Stamford
Gender Item
Female Burger      1239.04       1639.24   1216.02
       Burrito      978.95       1458.76   1820.11
       Chalupa      876.58       1673.33   1602.35
       Donut       1446.78       1639.26   1656.96
       Ice Cream   1521.62       1479.22   1032.03
       Sushi       1480.29       1742.88   1459.91
Male   Burger      1294.09        938.18   1439.16
       Burrito     1399.40       1312.93   1300.29
       Chalupa     1227.77       1114.23   1150.26
       Donut       1345.27       1249.36   1421.13
       Ice Cream   1603.63       2191.27   1059.22
       Sushi       1396.15       1395.88   1267.82

In [31]:
food.pivot_table(index=["Gender","Item"], columns=["Frequency","City"], values="Spend", aggfunc="sum")

Frequency           Daily                        Monthly               \
City             New York Philadelphia Stamford New York Philadelphia
Gender Item
Female Burger      262.67       231.68   144.66   171.86       215.05
       Burrito     224.45       321.57   195.63   122.74        34.28
       Chalupa      43.19        23.49    95.70   158.37       289.96
       Donut       478.10       247.40   124.35   284.53        50.25
       Ice Cream   262.19       177.69    92.88    92.53        74.51
       Sushi        81.07       348.53   393.27    93.16        78.71
Male   Burger      319.46       112.70   197.72   187.29       213.14
       Burrito     236.21       165.76   276.23   147.54        89.58
       Chalupa      54.09       274.81   192.64   333.76        90.70
       Donut       230.00       190.71   129.42   183.73       259.29
       Ice Cream   178.22       148.69    15.17   152.20       386.55
       Sushi       225.57       280.93      NaN   430.86       155.59

Frequency                    Never                          Often   ...     \
City             Stamford New York Philadelphia Stamford New York   ...
Gender Item                                                         ...
Female Burger      238.49    97.89       218.97    90.97    94.96   ...
       Burrito      67.94   189.73       382.30   366.34   103.60   ...
       Chalupa     161.98    35.15       121.97   156.36    39.73   ...
       Donut       229.30    56.07       433.58   157.33   130.63   ...
       Ice Cream   125.85   206.15       156.03    77.66   232.26   ...
       Sushi       108.39    69.33       190.58    19.56   343.94   ...
Male   Burger       27.16    90.32        17.31      NaN    55.47   ...
       Burrito     119.60    86.78       378.32   351.84   189.92   ...
       Chalupa     343.76   199.09       242.98   138.70   251.52   ...
       Donut       119.53   219.63        53.65   219.64   139.80   ...
       Ice Cream    74.36    57.54       321.94   119.77   347.55   ...
       Sushi        93.03   164.01       245.77   204.90     9.31   ...

Frequency            Once   Seldom                         Weekly  \
City             Stamford New York Philadelphia Stamford New York
Gender Item
Female Burger       95.05    63.16       409.05    97.53   184.35
       Burrito     168.01   167.54       198.11   234.49    39.69
       Chalupa      40.59   160.00       274.51   175.25   171.52
       Donut       158.24    90.81       183.25   104.66   285.56
       Ice Cream   279.33   242.35       203.10   117.73   227.62
       Sushi       194.75    87.70       314.24    27.82   410.89
Male   Burger      326.64   225.68       188.06   159.75    69.69
       Burrito      30.15   202.40        27.71     9.84   256.74
       Chalupa        NaN    11.69       130.75   174.02   163.20
       Donut       139.89    16.25        99.01   163.31    74.44
       Ice Cream   182.71   270.42       138.44    40.83   223.86
       Sushi       314.65   160.49        91.26   224.15   150.15

Frequency                                Yearly
City             Philadelphia Stamford New York Philadelphia Stamford
Gender Item
Female Burger           32.00   155.02   259.30       123.17   307.03
       Burrito          62.82   230.91    71.26       116.75   172.98
       Chalupa          84.41   204.69   157.82       504.44   348.16
       Donut           208.80   440.06    62.95       175.23   224.48
       Ice Cream       285.28   125.03   151.67       159.86    15.24
       Sushi           334.00   315.36   232.41       145.85   362.74
Male   Burger           99.89   310.21    49.61       197.36   225.07
       Burrito         289.25   161.85   220.70       118.51   262.64
       Chalupa         135.68    44.37   167.74        68.81   116.19
       Donut           115.80   311.27   143.10        44.61    16.52
       Ice Cream       221.24   239.42   159.70       239.94    96.32
       Sushi           260.33   338.16   119.44        33.80    48.71

[12 rows x 24 columns]

### Melt dataframe

In [39]:
sales = pd.read_csv("data/quarters.csv")
sales.head(3)

  Salesman      Q1      Q2      Q3      Q4
0    Boris  602908  233879  354479   32704
1      Bob   43790  514863  297151  544493
2    Tommy  392668  113579  430882  247231

In [40]:
sales.melt(id_vars="Salesman")

   Salesman variable   value
0     Boris       Q1  602908
1       Bob       Q1   43790
2     Tommy       Q1  392668
3    Travis       Q1  834663
4    Donald       Q1  580935
5       Ted       Q1  656644
6       Jeb       Q1  486141
7     Stacy       Q1  479662
8    Morgan       Q1  992673
9     Boris       Q2  233879
10      Bob       Q2  514863
11    Tommy       Q2  113579
12   Travis       Q2  266785
13   Donald       Q2  411379
14      Ted       Q2   70803
15      Jeb       Q2  600753
16    Stacy       Q2  742806
17   Morgan       Q2  879183
18    Boris       Q3  354479
19      Bob       Q3  297151
20    Tommy       Q3  430882
21   Travis       Q3  749238
22   Donald       Q3  110390
23      Ted       Q3  375948
24      Jeb       Q3  742716
25    Stacy       Q3  770712
26   Morgan       Q3   37945
27    Boris       Q4   32704
28      Bob       Q4  544493
29    Tommy       Q4  247231
30   Travis       Q4  570524
31   Donald       Q4  651572
32      Ted       Q4  321388
33      Jeb       Q4  404995
34    Stacy       Q4    2501
35   Morgan       Q4  293710